.home {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: flex;
    /* height: 70vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-block: 8em;
    padding-top: 5em;
   

}

.home .content {
    line-height: 1.2;
    margin-bottom: 3em;
    width: 400px;
}

.home .content h1 {
    margin-block: 5px;
    font-size: 3em;
}

.home .content .para {
    margin-bottom: 2em;
    font-size: 1.1em;
    opacity: 0.6;
}


.btn1 {
    background: blue;
    padding: 12px 14px 11px;
    color: white;
    font-weight: 900;
    font-size: 1.1em;
}

.img {
    position: relative;
}

.img img {
    height: 300px;
    width: 100%;
}

.img::before {
    position: absolute;
    content: "";
    top: -35px;
    right: -50px;
    height: 250px;
    width: 250px;
    background: #0000ff54;
    z-index: -1;
}

.feature_products {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.width{
    margin-top: 2em;
}

@media (max-width:1000px){

.home{
    padding-top: 3em;
}

    .home .content{
        padding-inline: 1em;
        width: 375px;
    }

    .img img{
        height: 250px;
        max-height: 100%;
        /* width: 100%; */
    }

    .img::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 0;
        width: 0;
        background: transparent;
        z-index: -1;
    }

    .home .content{
        /* margin-top: 5em; */
        font-size: 14px;
    }

  .width{
    text-align: center;
  }
}

@media (max-width:400px){
    .img{
        display: flex;
        justify-content: center;
    }

    .img img{
        width: 90%;
    }
}