.i-d{
    width: 0;
    border: none;
    cursor: pointer;
    height: 100%;
}

.flex1{
    display: flex;
    width: 110px;
    height: 20px;
    flex-direction: row;
    margin-top: 0;
    padding-block: 0;
    gap: 2em;
}

.amount{
    padding-left: 16px;
  font-size: 1.2em;
  color: #4747e6;
}