input {
    border: 1px solid #7070e1;
    height: 30px;
    width: 200px;
    text-transform: capitalize;
    padding-left: 10px;
    box-shadow: 0px 0px 3px #7979f2;
}

.filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3em;
}

.main-category {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
}

.min-category {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: center;
    gap: 1em;
}

.min-category button {
    cursor: pointer;
    opacity: 0.8;
    font-size: 15px;
    height: 0;
    border: none;
    margin-top: 1em;
    text-transform: capitalize;
}

.select-style {
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
}

.company-filter {
    margin-top: 3em;
    gap: 2em;
}

.color-filter{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.color-style {
    display: flex;
    gap: 5px;
}

.color-style button {
    border: none;
    outline: none;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    /* opacity: 0.7; */
    cursor: pointer;
}

.gap{
    margin-top: 2em;
}

.color-style button:hover{
    opacity: 1;
}

.active{
    opacity: 1;
}

.btnStyle{
    opacity: 0.7;
}

.clearfilter{
    font-size: 16px;
    border-radius: 0px;
    width: 100px;
    padding: 11px;
    background: #f63838;
    color: white;
    margin-top: 1em;
    border: none;
    cursor: pointer;    
}

@media (max-width:800px) {
    .clearfilter{
        margin-bottom: 2em;
    }
}