.header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    background: #f4f4f4;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.active {
    color: blue;
    font-weight: 900;
}

.header .logo {
    margin-left: 1em;
}

.header nav {
    margin-right: 2em;
}

.header .logo a h1 {
    /* color: black; */
    font-family: sans-serif;
    position: relative;
}

.header .logo a h1 span {
    height: 30px;
    width: 30px;
    display: block;
    background: #0000ff4f;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -12px;
    z-index: -1;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav ul {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.header nav ul li a {
    transition: .3s;
    font-weight: 500;
    font-size: 18px;
}

.header nav ul li a:hover {
    color: blue;
}

.cart {
    padding-top: 10px;
    font-size: 1.2em;
}

.cart a {
    position: relative;
}

.cart a div {
    position: absolute;
    font-size: 12px;
    background: rgb(0, 0, 255);
    height: 18px;
    width: 18px;
    font-weight: 900;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -13px;
    right: -10px;
    color: white;
    padding: 1px;
}

.menu {
    display: none;
}

.close {
    display: none;
}

@media (max-width:1000px) {
    .menu {
        display: flex;
        margin-right: 1em;
        font-size: 1.5em;
        align-items: center;
        cursor: pointer;

    }

    .header nav ul {
        position: absolute;
        top: 0;
        left: -100%;
        flex-direction: column;
        z-index: 1000;
        width: 100%;
        padding-block: 4em;
        background: white;
        transition: 0.5s;
    }

    .header nav ul.open {
        left: 0;
    }

    .mclose{
        left: -100%;
    }

    .close {
        display: block;
        font-size: 1.5em;
        width: 30px;
        height: 30px;
        background: #0000ff30;
        border-radius: 50%;
        padding: 6px;
        position: absolute;
        top: 1em;
        right: 2em;
        cursor: pointer;
    }

}